
.navbar{
   
    background-color: bisque;
    color: black;
    width: 100vw;
    height: 10vh;
    padding: 22px,20px;
    overflow: hidden;
}
.navbar a{
    float: left;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 20px;
}
.navbar a :hover{
    color: rgb(249, 17, 171);
}
body{
    /* background-image:url("./images/litchi.jpeg") ; */
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    display: flex;
    /* top :20px; */
    left: 380px;
    /* right: 10px; */
}
.footer{
    width: 100vw ;
    bottom: 0;
    background-color: rgb(211, 201, 190);
    height: 120px;
    text-align: center;
}
.footer a{
    width:100% ;
    overflow: hidden;
    padding: 20px 80px;
    margin: 20px;
}