/* .inputCar{
    background-color: lightcyan; 
    width: 50%;
    height: 50%; 
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); 
    transition: 0.5s; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center; 
    margin-left: 400px;
    


    
     */





/* } */